<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>developer-id</string>
	<key>teamID</key>
	<string>S8HQ5TEYDE</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>38FED0F232826AF0D22DF117CE055D78F0823FAC</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.legacylab.gainmap</key>
		<string>Gainmap Developer ID</string>
	</dict>
</dict>
</plist>
